body {
    font-family: Arial, sans-serif;
    background-image: url('1155.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    margin: 0;
    padding: 0;
}

h1 {
    text-align: center;
    color: white;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    background-color: rgba(0, 0, 0, 0.5);
    padding: 20px;
    margin: 0;
}

#formChat {
    text-align: center;
    margin-top: 20px;
}

#inputChat {
    padding: 10px;
    width: 300px;
    border: none;
    border-radius: 5px;
}

button[type="submit"] {
    padding: 10px 20px;
    border: none;
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.9);
    color: white;
    cursor: pointer;
}

#feedChat {
    max-width: 500px;
    margin: 20px auto;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}

#feedChat div {
    margin-bottom: 10px;
}

#feedChat span {
    display: block;
    font-weight: bold;
}

#feedChat .Chatbot {
    color: #2E2213;
}

footer {
    text-align: center;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
}

footer a {
    color: white;
}

